{% extends 'base.html' %}

{% block content %}
<div class="section has-text-centered">
    <h1 class="title">Zaloguj się</h1>
    <form action="post" class="form-narrow has-text-centered">
        {{ login_form.csrf_token }}
        <div class="field">
            <div class="control">
                {{ login_form.username.label }}
                {{ login_form.username(class_="input is-primary", placeholder="Nazwa użytkownika") }}
            </div>
        </div>

        <div class="field">
            <div class="control">
                {{ login_form.password.label }}
                {{ login_form.password(class_="input is-primary", placeholder="Hasło") }}
            </div>
        </div>

        <br />
        <br />
        <a href="{{ url_for('auth.register') }}">Nie masz konta? Załóż je tutaj!</a>

        <br />
        <br />
        <button type="submit" class="button is-success is-light">Zaloguj się</button>
    </form>
</div>
{% endblock content %}
