<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>System Konkursowo-Edykacyjny {% if subtitle %} - {{ subtitle }} {% else %} - BRAK {% endif %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    {% include "_footer.html" %}
    {% include "_nav.html" %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <li class="notification is-{{category}}">
                        <button class="delete"></button>
                        {{ message }}
                    </li>
                {% endfor %}
                </ul>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <script src="https://kit.fontawesome.com/f582c00ddb.js" crossorigin="anonymous"></script>

    {% block scripts %}{% endblock scripts %}
</body>

</html>
