{% extends 'base.html' %}

{% block library_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/codemirror.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/theme/material.min.css" />
{% endblock library_css %}

{% block library_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/mode/python/python.min.js"></script>
{% endblock library_js %}

{% block content %}
<div class="tabs is-centered is-boxed" style="margin-top: 4px;">
    <ul>
        <li class="is-active">
            <a>
                <span class="icon is-small"><i class="fas fa-flask"></i></span>
                <span>Sandbox</span>
            </a>
        </li>
    </ul>
</div>
<section class="hero sandbox-hero has-text-centered">
    <div class="hero-body sandbox-hero-body">
        <div class="columns">
            <div class="column is-two-thirds-desktop is-full-mobile is-full-tablet">
                <div id="editor" class="editor"></div>

                {% if current_user.is_authenticated %}
                <a id="executeCode" href="" class="button is-success">Uruchom program</a>
                {% else %}
                <a href="{{ url_for('auth.login') }}">Aby skorzystać z sandboxa musisz być zalogowany.</a>
                {% endif %}
            </div>
            <div id="input-column" class="column is-one-third-desktop is-full-mobile is-full-tablet">
                <h1 class="title" style="margin-bottom: 1px;">Wejście</h1>
                <div class="section input-data">
                    <div class="control">
                        <textarea id="input-data" class="textarea is-info"
                            placeholder="Tutaj wpisz wejście swojego programu - linijka po linijce."></textarea>
                    </div>
                </div>
                <h1 class="title" style="margin-bottom: 1px;">Wyjście programu</h1>
                <div class="section output-data">
                    <div class="control">
                        <textarea id="" class="textarea" placeholder="Nie wiem czemu to nie działa" readonly></textarea>
                    </div>
                    <a href="" id="output-data-show" style="margin-top: 1rem;display: inline-block;">Pokaż</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
    test_value = `# Cześć! To jest Ed. To znaczy to jest komentarz.
# Przedstawimy poniżej jak Ed wygląda.
# Mamy 6 różnych operatorów:
# Dodawania
12 + 3;

# Odejmowania
11 - 2;

# Mnożenia
42 * 2;

# Dzielenia
11 / 3;

# Reszty z dzielenia(modulo)
12 % 2;

# Oraz specjalny operator przydzielenia
wiek = 15; # Właśnie stworzyliśmy zmienną!

# Operacje wykonywane są od lewej do prawej, możemy jednak
# nad nimi kierować za pomocą nawiasów
12 / 2 + 1;
12 / (2 + 1);

# Aby wczytać wartość od użytkownika należy użyć symbolu read
wiek = read;
`;

    var editor = document.getElementById("editor");
    var mCEditor = CodeMirror(editor, {
        value: test_value,
        mode: "python",
        lineNumbers: true,
        theme: "material"
    });
</script>

<script>
    $('#executeCode').click(function () {
        alert('Wysłano kod');
    });
</script>
{% endblock scripts %}
